---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables - Cyberpunk Minimal Theme
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

$base-font-family: "IBM Plex Mono", "Consolas", "Monaco", monospace;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

// Cyberpunk minimalist color scheme
$text-color:       #e4e4e7;  // Soft white
$background-color: #0a0a0f;  // Deep dark blue-black
$brand-color:      #a78bfa;  // Soft purple
$accent-color:     #818cf8;  // Indigo
$highlight-color:  #ec4899;  // Hot pink

$grey-color:       #71717a;  // Neutral grey
$grey-color-light: #27272a;  // Dark grey
$grey-color-dark:  #a1a1aa;  // Light grey

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
